{% extends 'base.html' %}

{% block content %}
<h1>Add Income</h1>

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Income Name:</label>
        <input type="text" name="name" id="name" class="form-control" value="{{ name|default:'' }}">
    </div>
    <div class="form-group">
        <label for="income-category">Income Category:</label>
        <select name="income_categories" id="income-category" class="form-control">
            {% for category in expense_categories %}
                <option value="{{ category|lower }}" {% if category == income_categories %}selected{% endif %}>
                    {{ category }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="text" name="amount" id="amount" class="form-control" value="{{ amount|default:'' }}">
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" class="form-control" value="{{ date|default:'' }}">
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>
{% endblock %}