{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="jumbotron text-center bg-light p-5 shadow rounded">
        <h1 class="display-4">Favorite Charts</h1>
        <p class="lead">Visualize your expenses with our charts.</p>
        <hr class="my-4">
        <form method="get" class="form-inline justify-content-center">
            <div class="form-group mx-2">
                <label for="start_date" class="mr-2">Start Date:</label>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}">
            </div>
            <div class="form-group mx-2">
                <label for="end_date" class="mr-2">End Date:</label>
                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}">
            </div>
            <button type="submit" class="btn btn-primary mx-2">Generate Charts</button>
        </form>
        {% if error_message %}
            <div class="alert alert-danger mt-4">{{ error_message }}</div>
        {% endif %}
        <div class="chart-container mt-5">
            {% if chart_images.pie %}
                <h3>Pie Chart</h3>
                <img src="{{ chart_images.pie }}" alt="Pie Chart" class="img-fluid">
            {% endif %}
            {% if chart_images.bar %}
                <h3>Bar Chart</h3>
                <img src="{{ chart_images.bar }}" alt="Bar Chart" class="img-fluid">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}