{% extends "base.html" %} 
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="jumbotron text-center bg-light p-5 shadow rounded">
        <h1 class="display-4">Welcome to Expense Tracker!</h1>
        <p class="lead">Effortlessly manage your expenses, track spending, and achieve your financial goals.</p>
        <hr class="my-4">
        <p>Start exploring our features:</p>
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'add_expense' %}" class="btn btn-primary btn-lg mx-2">Add an Expense</a>
            <a href="{% url 'view_expenses' %}" class="btn btn-success btn-lg mx-2">View Expenses</a>
            <a href="{% url 'fav_chart' %}" class="btn btn-info btn-lg mx-2">View Favorite Chart</a>
            <a href="{% url 'view_incomes' %}" class="btn btn-primary btn-lg mx-2">View Incomes</a>
        </div>
    </div>
</div>
{% endblock %}